<h2 mat-dialog-title>Modifier le rôle</h2>

<form [formGroup]="roleForm" (ngSubmit)="saveRole()">
  <mat-form-field>
    <mat-label>ID</mat-label>
    <input matInput formControlName="id" readonly>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rôle</mat-label>
    <input matInput formControlName="role">
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close="">Annuler</button>
    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  </div>
</form>
