a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0 16px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #ccc;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: none;
}

@media (min-width: 600px) {
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.nav-links.open {
  display: block;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
