<mat-toolbar color="primary" *ngIf="isMobile; else desktopView" class="mb-5 mat-elevation-z8">
  <span>The Coral Planters</span>
  <span class="spacer"></span>
  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="nav-links" [class.open]="menuOpen">
    <a color="primary" mat-button routerLink="/">Home</a>
    <a color="primary" mat-button routerLink="/about">About Us</a>
    <a color="primary" mat-button routerLink="/Contact">Contact</a>
    <a color="primary" mat-button routerLink="/admin/role">Role Admin</a>
    <a color="primary" mat-button *ngIf="!isLoggedIn" (click)="onLogin()" routerLink="/login">Login</a>
    <a color="primary" mat-button *ngIf="!isLoggedIn" routerLink="/register">Register</a>
    <a color="primary" mat-button *ngIf="isLoggedIn" (click)="onLogout()">Logout</a>
  </div>
</mat-toolbar>

<ng-template #desktopView>
  <mat-toolbar color="primary" class="mb-5 mat-elevation-z8">
    <span>The Coral Planters</span>
    <span class="spacer"></span>
    <div class="nav-links" *ngIf="!isMobile">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/about">About Us</a>
      <a mat-button routerLink="/Contact">Contact</a>
      <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="menu">Admin</button>
      <mat-menu #menu="matMenu">
        <a class="nav-link" color="primary" mat-button routerLink="/admin/role">Role</a>
      </mat-menu>
      <a mat-button *ngIf="!isLoggedIn" (click)="onLogin()" routerLink="/login">Login</a>
      <a mat-button *ngIf="!isLoggedIn" routerLink="/register">Register</a>
      <a mat-button *ngIf="isLoggedIn" (click)="onLogout()">Logout</a>
    </div>
    <button mat-icon-button class="menu-button" (click)="toggleMenu()" *ngIf="isMobile">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</ng-template>
