.card {
  max-width: 350px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-content {
  font-size: 18px;
  margin-bottom: 20px;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.card-actions button {
  width: 120px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}
