<div class="container">
  <h1 class=" text-center">Welcome to The Coral Planters</h1>
  <div class="row justify-content-center align-items-center g-4">
    <div class="col-md-4" *ngFor="let card of cards">
      <div class="card">
        <img src="{{ card.image }}" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">{{ card.title }}</h2>
          <p class="card-text">{{ card.description }}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary">Donate</button>
            <button class="btn btn-accent">Volunteer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
