/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
}

@media only screen and (max-width: 600px) {
  .sidenav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidenav {
    width: 100%;
  }
}
